<div class="horizontal-menu">
<nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
            <li class="nav-item {% if 'inicio' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">Inicio</span>
                </a>
            </li>
            <li class="nav-item {% if 'productos' in request.path %}active{% endif %}">
                <a class="nav-link">
                    <i class="mdi mdi-cube-outline menu-icon"></i>
                    <span class="menu-title">Productos</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul>
                        <li class="nav-item"><a class="nav-link" href="{% url 'products:ListAndCreate' %}">Mis productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'products:profitsListAndCreate' %}">Beneficios colaboradores</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if 'ventas' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'sales:ListAndCreate' %}">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">Ventas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="docs/documentation.html" class="nav-link">
                    <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                    <span class="menu-title">Documentation</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</div>