{% extends 'plataforma/base.html' %}
{% load static %}
{% block title %} - Productos{% endblock %}
{% block stylesBlock %}
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/dataTables.bootstrap.min.css' %}">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProductModal">
            Crear producto
        </button>
    </div>
    <div class="col-sm-12 col-md-8">
        {% if 'register' in request.GET  %}
            <div class="alert alert-success" role="alert">
                El producto se registro correctamente
            </div>
        {% elif 'error' in request.GET %}
            <div class="alert alert-danger" role="alert">
                Error al registrar el producto
            </div>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createProductModalLabel">Agregar producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="" method="post">{% csrf_token %}
            <div class="modal-body">
                {% for field in form %}
                    <div class="form-group">
                        <label class="mylabel">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <small class="mt-2">Los campos con * son requeridos</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Crear producto">
            </div>
        </form>
    </div>
  </div>
</div>

<div class="row mt-4">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Los productos de {{request.user.profile.company.name}}</h4>
            <div class="table-responsive pt-3">
                {% if productList %}
                    <table id="dataTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Valor</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in productList %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.value }}</td>
                                <td>
                                    <p style="text-align:center;">
                                        <a href="{% url 'products:update' product.id %}"><i class="mdi mdi-grease-pencil"></i></a>
                                        <a href="{% url 'products:profitsListAndCreate' %}?id={{product.id}}">
                                            <i class="mdi mdi-step-forward"></i>
                                        </a>
                                    </p> 
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        No tienes registrados productos
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block Js %}
    <script src="{% static 'vendors/jquery/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/jquery/dataTables.bootstrap.min.js' %}"></script>
<script>   
    $(document).ready(function() {
        $('#dataTable').DataTable( {
            "language": {
                "url": "{% static 'vendors/jquery/Spanish.json' %}"
            }
        } );
    } );
</script>
{% endblock %}