{% extends 'plataforma/base.html' %}
{% load static %}
{% block title %} - Beneficio por producto{% endblock %}
{% block stylesBlock %}
<link rel="stylesheet" href="{% static 'vendors/bootstrap/css/dataTables.bootstrap.min.css' %}">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProductModal">
            Crear beneficio por producto
        </button>
    </div>
    <div class="col-sm-6 col-md-5 row">
        <div class="col-sm-12 col-md-3">
            <h5>Producto selecionado:</h5>
        </div>
        <div class="col-sm-12 col-md-7">
            <select id="selectFilter" required class="form-control">
                <option value="" {% if not 'id' in request.GET  %} selected {% endif %}>---------</option>
                {% for product in possibleProducts %}
                    <option value="{{ product.id }}" class="changeProduct" {% if product.id == idProduct  %} selected {% endif %}>{{ product.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-12 col-md-1">
            <a id="goToProductProfits" href="#" disabled><p style="font-size: 2rem;" class="mt-1"> <i class="mdi mdi-arrow-right-drop-circle"></i></p></a>
        </div>
    </div>
    <div class="col-sm-12 col-md-5">
        {% if 'register' in request.GET  %}
            <div class="alert alert-success" role="alert">
                El beneficio se registro correctamente
            </div>
        {% elif 'error' in request.GET %}
            <div class="alert alert-danger" role="alert">
                Error al realizar la acción
            </div>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createProductModalLabel">Agregar beneficio por producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'products:profitsListAndCreate' %}" method="post">{% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label class="mylabel">Colaborador*</label>
                    <select name="user" id="id_user" required class="form-control">
                        <option value="" selected>---------</option>
                        {% for profile in possibleProfileUsers %}
                            <option value="{{ profile.user.id }}">{{ profile.user.first_name }} {{ profile.user.last_name }} - {{ profile.cc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="mylabel">Producto*</label>
                    <select name="product" id="id_product" required class="form-control">
                        <option value="" {% if not 'id' in request.GET  %} selected {% endif %}>---------</option>
                        {% for product in possibleProducts %}
                            <option value="{{ product.id }}" {% if product.id == idProduct  %} selected {% endif %}>{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="mylabel">Beneficio*</label>
                    <input type="number" name="profit" step="any"  class="form-control" requred id="id_profit" min="0">
                </div>
                    
                <small class="mt-2">Los campos con * son requeridos</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Crear beneficio por producto">
            </div>
        </form>
    </div>
  </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductModalLabel">Confirmar eliminar beneficio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <p>Esta proximo a eliminar un beneficio, este procedimiento es irreversible.</p>
                <p>¿Seguro que desea proceder?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger btn-ok">Eliminar</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Los beneficios de {{request.user.profile.company.name}}</h4>
            <div class="table-responsive pt-3">
                {% if profitproductList %}
                    <table id="dataTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Colaborador</th>
                                <th>Producto</th>
                                <th>Beneficio</th>
                                <th>Ultimo cambio</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for profitproduct in profitproductList %}
                            <tr>
                                <td>{{ profitproduct.id }}</td>
                                <td>{{ profitproduct.user }}</td>
                                <td>{{ profitproduct.product.name }}</td>
                                <td>{{ profitproduct.profit }}</td>
                                <td>{{ profitproduct.updated }}</td>
                                <td>
                                    <p style="text-align:center;">
                                        <a href="{% url 'products:profitsUpdate' profitproduct.id %}"><i class="mdi mdi-grease-pencil"></i></a>
                                        <a href="#" data-href="{% url 'products:profitsDelete' profitproduct.id %}" data-toggle="modal" data-target="#confirm-delete" >
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </p> 
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        No tienes registrado beneficios para tus colaboradores
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block Js %}
    <script src="{% static 'vendors/jquery/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/jquery/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function() {
        
        $('#selectFilter').change(function(){ 
            let value = $(this).val();
            let url = "{% url 'products:profitsListAndCreate' %}";
            if(value != ""){
                url += "?id="+value
            }
            $("#goToProductProfits").attr("href", url)
        });

        $('#dataTable').DataTable( {
            "language": {
                "url": "{% static 'vendors/jquery/Spanish.json' %}"
            }
        } );
    } );
</script>
<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
{% endblock %}